.user-form {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-around;
}

.form-control {
    display: flex;
    flex-direction: column;
    height: 55px;
    justify-content: space-around;
}